@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: linear-gradient(to right, #212121 30%, #fddb3a);
    padding: 30px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-size: 18px;
    background-color: #212121;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 50vh; 
}

main {
    padding-top: 200px;
}
