.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}


body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ccc;
    font-family: sans-serif;
    font-size: 18px;
}

.range {
    position: relative;
    background-color: #333;
    width: 300px;
    height: 30px;
    transform: skew(30deg);

}

.range__label {
    width: 0;
    height: 100%;
    transition: width 0.5s;
}